<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>
    <form action="/inscription" method="post">
        <label for="prenom">Prénom:</label><br>
        <input type="text" id="prenom" name="prenom" required><br>
        <label for="nom">Nom:</label><br>
        <input type="text" id="nom" name="nom" required><br>
        <label for="address">Adresse:</label>
        <input type="text" id="address" name="address" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="phone">Téléphone:</label><br>
        <input type="tel" id="phone" name="phone" required><br>
        <label for="password">Mot de passe:</label><br>
        <input type="text" id="password" name="password" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$" required title="Le mot de passe doit contenir au moins 12 caractères, y compris une lettre, un chiffre et un caractère spécial"><br>
        <label for="confirm_password">Confirmer le mot de passe:</label><br>
        <input type="text" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="S'inscrire">
    </form>
</body>
</html>
